* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup_cont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_row {
    width: 100%;
}