* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup_cont {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg_form {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow:  -20px -20px 60px #259f93,20px 20px 60px #31d7c7;
    margin-top: 5rem;
    position: relative;
}

.rocket_ico {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -90px;
    right: -25px;
    transition: all .5s ease;
}


.rocket_ico:hover {
    width: 160px;
    height: 160px;
    transition: all .5s ease;
}

.signup_row {
    width: 100%;
}