.dataTables_paginate {
    display: none !important;
}

.statisticRow {
    margin-top: 25px;
    /* display: flex; */
}

.icon {
    font-size: 30px;
    margin-right: 25px;
    margin-top: 5px;
}

.heading {
    margin-right: 25px;
    font-size: 32px !important;
}

.statisticRow p {
    font-size: 30px;
}

.spender {
    display: flex;
}