.support_btn {
    background-color: #FFDC03 !important;
}

img.kofi {
    width: 20px;
    height: 20px;
}

.avatar_handler {
    background-color: unset;
    border: none;
    outline: none;
}

.avatar_handler:focus {
    border: none;
    outline: none;
}

.profile_btns {
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
}